#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

name := raft
prefix := /usr
includedir := $(prefix)/include
libdir := $(prefix)/lib/$(DEB_BUILD_MULTIARCH)
buildroot := debian/tmp
install_includedir := $(buildroot)$(includedir)
install_libdir := $(buildroot)$(libdir)



%:
	dh $@

override_dh_auto_install:
	mkdir -p $(install_libdir)
	mkdir -p $(install_includedir)
	cp libraft.so $(install_libdir)
	cp include/* $(install_includedir)

