Source: moosefs
Section: admin
Priority: extra
Maintainer: MooseFS Team <contact@moosefs.com>
Build-Depends: debhelper (>= 9.0), autotools-dev, libc6-dev, libfuse-dev (>= 2.6) | libfuse3-dev (>=3.4), pkg-config, zlib1g-dev, libpcap0.8-dev, python3 (>= 3.4)
Standards-Version: 3.7.3
Homepage: http://moosefs.com/

Package: moosefs-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: MooseFS master (metadata) server
 This package will install MooseFS component responsible
 for keeping metadata and also managinng whole cluster.

Package: moosefs-metalogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: MooseFS metalogger server
 This package will install MooseFS component responsible
 for keeping backup of metadata (downloaded from master).

Package: moosefs-chunkserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: MooseFS data server
 This package will install MooseFS component responsible
 for keeping actual data of files (split into chunks - hence name).

Package: moosefs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MooseFS client tools
 This package will install MooseFS component responsible
 for accessing data (as a mountpoint) also bunch of tools
 for managing object parameters (goal etc.).

Package: moosefs-cli
Architecture: any
Depends: ${misc:Depends}, python3 (>= 3.4)
Description: MooseFS CLI utility
 This package will install MooseFS component responsible
 for monitoring. This is a simple command line utility which
 can be used for showing list of connected chunkservers,
 clients, health of the system, some stats etc.

Package: moosefs-gui
Provides: moosefs-cgi, moosefs-cgiserv
Replaces: moosefs-cgi, moosefs-cgiserv
Conflicts: moosefs-cgi, moosefs-cgiserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moosefs-cli, adduser, python3 (>= 3.4)
Description: MooseFS web-based GUI
 This package will install MooseFS component responsible
 for monitoring. This is a simple web-based utility, which
 can be used for showing list of connected chunkservers,
 clients, health of the system, some stats etc.

Package: moosefs-netdump
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MooseFS network packet dump utility
 This package will install MooseFS monitoring tool
 This is a simple netdump utility which can interpret
 MooseFS network traffic and show it in colorful form.
